<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Users</span>
    <button mat-button color="primary" class="add-prod-btn" (click)="addProd()">+ Add Product</button>
    <span class="example-spacer"></span>
    
    <img src="/assets/profile.jpeg" alt="" srcset="" width="40px" class="img img-fluid" style="border-radius: 50%;" >
    <span> &nbsp;Jhon Doe</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    </button>
</mat-toolbar>
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-9">
            <mat-card-header>
                <mat-card-title>User List</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                Name
                            </th>
                            <th scope="col">
                                Description
                            </th>
                            <th scope="col">
                                Price
                            </th>
                            <th scope="col">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tr *ngFor="let value of invData">
                        <td>{{value.Name}}</td>
                        <td>{{value.Description}}</td>
                        <td>{{value.Price}}</td>
                        <td>
                            <a (click)="edit(value.Id,value.Name,value.Description,value.Price)" style="display: inline-block;cursor: pointer;">
                                <mat-icon>mode_edit</mat-icon>
                            </a>
                            <a (click)="delete(value.Id,value.Name)" style="display: inline-block;cursor: pointer;">
                                <mat-icon>delete_outline</mat-icon>
                            </a>
                        </td>
                    </tr>
                </table>
            </mat-card-content>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <mat-card-header>
                        <mat-card-title>Progress</mat-card-title>
                    </mat-card-header>
                    <br>
                    <mat-progress-bar mode="determinate" value="totalCount()"></mat-progress-bar>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <span><b>Total Items : </b></span>
                </div>
                <div class="col-md-4">
                    <br>
                    <span>{{totalCount()}}</span>
                </div>
            </div>
                
            
            
            
            
        </div>
    </div>
</div>